.App {
  text-align: center;
  font-family: "Creepster", cursive;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

svg {
  transform: rotate(195deg);
}
line {
  animation: fadeInLabel cubic-bezier(0.23, 1, 0.32, 1) 1;
  opacity: 1;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  animation-duration: 2s;
}

@keyframes fadeInLabel {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  margin-bottom: 0;
}
path {
  animation: fadeInLabel cubic-bezier(0.23, 1, 0.32, 1) 1;
  opacity: 1;
  animation-fill-mode: both;
  animation-delay: 1s;
  animation-duration: 2s;
}
